{% extends 'base.html.twig' %}

{% block title %}CarteFidelite index{% endblock %}

{% block body %}
    <h1>CarteFidelite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NbPoints</th>
                <th>DateCreation</th>
                <th>DateExpiration</th>
                <th>IdUser</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carte_fidelite in carte_fidelites %}
            <tr>
                <td>{{ carte_fidelite.id }}</td>
                <td>{{ carte_fidelite.NbPoints }}</td>
                <td>{{ carte_fidelite.DateCreation ? carte_fidelite.DateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ carte_fidelite.DateExpiration ? carte_fidelite.DateExpiration|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ carte_fidelite.IdUser }}</td>
                <td>
                    <a href="{{ path('carte_fidelite_show', {'id': carte_fidelite.id}) }}">show</a>
                    <a href="{{ path('carte_fidelite_edit', {'id': carte_fidelite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('carte_fidelite_new') }}">Create new</a>
{% endblock %}
